!!! 5
%html
  %head
    %title= 'Weight on Planet'
  %body
    %header
      %h1= 'Weight on Planet'
      
    %section
      %p
        %b= "'Weight on Planet'"
        = "serves as a json web-service conversion-utility for weights on planets."
      
      %p
        For usage, see README @ 
        %a{ :href => 'https://github.com/abhaykadam/weightonplanet'}= "https://github.com/abhaykadam/weightonplanet"
      
    %footer
      %p
        Copyright 2013 Abhay Kadam